body{
    background:#f4f6f9;
}

.card{
    border-radius:12px;
}

.nav-link{

    border-radius:8px;

    margin-bottom:8px;

    transition:.3s;
}

.nav-link:hover{

    background:white;

    color:#198754 !important;

}

.navbar{

    height:70px;

}

h2{

    color:#343a40;

}